{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-invalid-this": 2,
    "array-bracket-spacing": [2, "never"],
    "brace-style": [2, "1tbs"],
    "computed-property-spacing": [2, "never"],
    "eol-last": 2,
    "max-depth": [1, 4],
    "max-statements": [1, 40],
    "no-mixed-spaces-and-tabs": 2,
    "object-curly-spacing": [ "error", "always" ],
    "block-scoped-var": "error",
    "camelcase": [ "error", { "properties": "never" } ],
    "comma-dangle": "off",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": [ "error", "last" ],
    "consistent-return": "off",
    "curly": [ "error", "multi-line" ],
    "dot-location": [ "error", "property" ],
    "eqeqeq": [ "error", "allow-null" ],
    "guard-for-in": "error",
    "indent": [ "error", 2, { "SwitchCase": 1 } ],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "max-len": [ "error", 180, 2, { "ignoreComments": true, "ignoreUrls": true } ],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "callback-return": ["error", ["done", "response.sendError", "response.sendResponse"]],
    "handle-callback-err": "error",
    "no-console": ["error", { "allow": ["error", "info", "warn"] }],
    "no-bitwise": "off",
    "no-caller": "error",
    "no-cond-assign": "off",
    "no-const-assign": "error",
    "no-debugger": "error",
    "no-empty": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-parens": "off",
    "no-extra-semi": [ "error" ],
    "no-global-assign": "error",
    "no-irregular-whitespace": "error",
    "no-iterator": "error",
    "no-loop-func": "off",
    "no-multi-spaces": "off",
    "no-multi-str": "error",
    "no-nested-ternary": "error",
    "no-new": "off",
    "no-path-concat": "off",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-return-assign": "off",
    "no-sync": "error",
    "no-script-url": "error",
    "no-sequences": "error",
    "no-shadow": "off",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": [ "error" ],
    "no-use-before-define": [ "error", "nofunc" ],
    "no-var": "error",
    "no-with": "error",
    "one-var": [ "error", "never" ],
    "prefer-const": "error",
    "quotes": [ "error", "single", { "allowTemplateLiterals": true } ],
    "semi-spacing": [ "error", { "before": false, "after": true } ],
    "semi": [ "error", "always" ],
    "space-before-blocks": [ "error", "always" ],
    "space-before-function-paren": [ "error", { "anonymous": "always", "named": "never" } ],
    "space-in-parens": [ "error", "never" ],
    "space-infix-ops": [ "error", { "int32Hint": false } ],
    "space-unary-ops": [ "error" ],
    "strict": [ "error", "never" ],
    "valid-typeof": "error",
    "wrap-iife": [ "error", "outside" ],
    "yoda": "off",
    "global-require": "error",
    "no-param-reassign": "error",
    "no-prototype-builtins": "off",
    "no-useless-catch": "off",
    "require-atomic-updates": "off",
    "no-async-promise-executor": "off",
    "no-await-in-loop": ["error"]
  }
}
